.body-form-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 2rem;
}

.input-login-value {
  height: 1.8rem;
  padding: 6px 0;
  margin-bottom: 1rem;
  width: 90%;
}

.w-30 {
  width: 30%;
}

.btn-login {
  width: 6rem;
  margin-left: auto;
}
