.btn-principal-color {
  color: #ffffff;
  font-family: arial;
  font-weight: 700;
  background: #5363ea;
  outline: none;
  border-radius: 3px;
  border: none;
  height: 1.5rem;
  margin: 3px;
  cursor: pointer;
}
