@import url("https://fonts.googleapis.com/css?family=Baloo:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.container-task-background {
  background: #e4e4e4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-task-content {
  background: #ffffff;
  height: 50%;
  width: 65%;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.25);
}

.header-box-task {
  background: #b3b7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
}
.options-header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}
.text-title-principal {
  color: white;
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
}
.input-group-footer {
  display: flex;
  width: 100%;
}
.footer-box-task {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-empty-state {
  color: #b3b7ff;
  font-size: 1.5rem;
  font-family: arial;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-value-box {
  border: 1px solid #e4e4e4;
  font-family: arial;
  font-style: normal;
  padding: 0 3px;
  font-size: 1rem;
  height: 1.8rem;
  flex: 1;
  text-indent: 10px;
}
.input-value-box::placeholder {
  color: 1px solid #e4e4e4;
  font-family: arial;
  font-weight: 700;
  margin: 0 3px;
}
.input-value-box:focus,
.input-value-box:active {
  outline: none;
}
.red {
  color: red;
  cursor: pointer;
}
.add {
  font-family: arial;
  font-style: normal;
  font-size: 1rem;
  height: 1.8rem;
  margin: 0;
  margin-left: -3px;
  width: 20%;
}
.fs-12 {
  font-size: 12px;
}
.counter-task-footer {
  width: 100%;
  background: #b3b7ff;
  height: 2rem;
  align-items: center;
  padding-left: 1rem;
  height: 2rem;
  line-height: 28px;
}

.ul-task-row {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  flex: 1;
}

.li-task-row {
  background: red;
  list-style-type: none;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

li:nth-child(odd) {
  background: #ffffff;
}

li:nth-child(even) {
  background: #f7f7f7;
}

.left-name-task {
  width: 70%;
  margin-left: 1.5rem;
}

.left-name-task > input {
  margin-right: 1rem;
}

.text-task {
  font-size: 1rem;
  font-weight: 600;
}
.through {
  text-decoration: line-through;
}

/* //SCROLL */

.ul-task-row::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #000028;
}

.ul-task-row::-webkit-scrollbar-thumb {
  width: 14px;
  height: 14px;
}

.ul-task-row::-webkit-scrollbar-thumb:hover {
  background: #000028;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.ul-task-row::-webkit-scrollbar-thumb:active {
  background-color: #000028;
}

.ul-task-row::-webkit-scrollbar-track {
  background: #b3b7ff;
  border-radius: 4px;
}

.ul-task-row::-webkit-scrollbar-track:active {
  background: #b3b7ff;
}
